@font-face {
    font-family: 'inter';
    src: local('inter'), url('/assets/fonts/Inter_18pt-Regular.ttf') format('truetype');

}
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$Brown: #412A23;
$GreyLight:#E1E0DF;
$GreyDark:#6F6969;
$Light:#EFEEEE;

$font: 'inter';
$sizexxl: 20px;
$sizexl: 16px;
$sizevl: 15px;
$sizel: 14px;
$sizesm:11px;
$sizevsm:10px;

$light: 300;
$regular: 400;
$semibold: 600;

//breakpoint
$small: 700px;