@import '../../index.scss';

.import_form{
    @include flex(column,center,flex-start,15px);
    & > div{
        @include flex($justify:flex-start,$align:center);
        label{
            width: 100px;
            color: black;
            font-weight: $semibold;
            font-size: $sizel;
        }
        input, select{
            height: 25px;
            width: 150px;
            &:focus{
                outline: none;
            }
        }

    }    
    .description{

        @include flex(column,flex-start,flex-start,10px);
        label{
            width: fit-content;
        }
        textarea{
            width: 270px;
            height: 100px;
        }
    }
    .submit{
        padding: 7px 18px;
        background-color: $Brown;
        color: white;
        font-size: $sizesm;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: $Brown;
            font-weight: $semibold;
            border: 2px solid $Brown;
            transition: background-color 0.3s ease-in-out;
        }
    }
    .file{
        @include flex(column,flex-start,flex-start,10px);
        span{
            @include flex($gap:10px);
            button{
                background-color: $Brown;
                color: white;
                padding: 5px 10px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                &:hover{
                    background-color: darken($color: $Brown, $amount: 10%);
                }
            }
            p{
              font-size: $sizel;  
            }
        }
    }
}