@import '../../index.scss';

.searchdesktop{
    &.disabled{
        pointer-events: none;
    }
    position: relative;
    input{
        background-color: $Light;
        border: none;
        border-radius: 30px;
        height: 3vw;
        min-height: 40px !important;
        max-height: 50px !important;
        width: 50vw;
        padding: 5px 40px;
        color: black;
        font-size: $sizevl;
        &:focus{
            outline: none;
        }
    }
    &_searchicon{
        position: absolute;
        left:15px;
        top:50%;
        transform: translateY(-40%);
        cursor: pointer;
    }
    &_filtericon{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-40%);
    }
    @include media($small){
        display: none;
    }
}