@import '../../index.scss';

header{
    position: fixed;
    left: 0;
    top: 0;
    background-color: $Brown;
    padding: 10px 50px ;
    width: 100vw;
    color: white;
    font-size: 20px;
    @include flex($justify:flex-start, $gap:90px);
    .logoo{
        width: fit-content;
        @include flex($direction:column, $gap:15px);
    }
    .hamburger, .search{
        display: none;
    }
    @include media($small){
        justify-content: center;
        position: fixed;
        .hamburger{
            display: block;
            position: absolute;
            width: fit-content;
            left: 15px;
            top: 40px;
        }
        .search{
            display: block;
            position: absolute;
            width: fit-content;
            top: 40;
            right: 15px;
        }
    }
}